body {
    font-family: Arial, sans-serif;
}

.hero {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.navbar-brand {
    font-weight: bold;
}

.text{
    color: #333;
    text-align: center;
    padding:0 50px;
}